body{
overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, div, p, span, #mainNav .navbar-nav .nav-item .nav-link,#mainNav .navbar-brand, a{
  font-family: 'Fira Code', monospace;
}

footer{
  background-color: #e7e5e5;
}

#about-image img {
  width: 100%;
  max-width: 350px;
  border: solid grey 1px;
  border-radius: 100%;
  box-shadow: 1px 8px 8px 1px rgba(75, 75, 75, 0.25);
}
.social-links {
  height: 30px;
  width: 30px;
  opacity: 0.6;
}
#works {
  max-width: 825px;
}
/* .fadein {
  animation: fadeIn ease-in 1.5s;
  -webkit-animation: fadeIn ease-in 1.5s;
  -moz-animation: fadeIn ease-in 1.5s;
  -o-animation: fadeIn ease-in 1.5s;
  -ms-animation: fadeIn ease-in 1.5s;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-1{
  background-color: #8af3ff;
  }
  .bg-2{
  background-color: #18A999;
  }
  .bg-3{
  background-color: #109648;
  }
  .bg-4{
  background-color: #484349;
  }
  .bg-5{
  background-color: #F7F0F0; 
  }
  .text-1{
    color:#8AF3FF
  }
  .text-2{
    color:#18A999
  }
  .text-3{
    color: #109648;
  }
  .text-4{
    color: #484349;
  }
  .text-5{
    color: #F7F0F0;
  }

  #portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption{
    background: rgb(58 227 244 / 50%);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 59, 70, 0.753);
  }



  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: rgba(58, 227, 244)
}

.btn-main:hover{
  background-color: rgba(58, 227, 244)
}

/* typing effect */
#title{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* fadein */
nav, #intro-hr, #subtitle{
  animation:1s ease 2s normal forwards 1 fadein;
  -webkit-animation:1s ease 2s normal forwards 1 fadein;
  opacity:0
  }
  
  @keyframes fadein{from{opacity:0}
  to{opacity:1}
  }
  
  @-webkit-keyframes fadein{from{opacity:0}
  to{opacity:1}
  }

  @media (max-width: 600px) {
    #title{
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 2.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
  }

  /* appear on scroll effect */
  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }

  .js-scroll.scrolled {
    opacity: 1;
  }

  #skills  img {
    filter: invert(55%) sepia(48%) saturate(4804%) hue-rotate(141deg) brightness(96%) contrast(81%);
  }
